<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>2</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0-rc">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/ledgerium/governanceapp.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 11 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd output
# node setup
# Cleaning up the docker setup
docker volume prune -f || true
docker-compose down || true

docker network rm app_net || true
docker network rm test_net || true

docker network create -d bridge --subnet 172.16.239.0/24 --gateway 172.16.239.1 app_net || true
docker network create -d bridge --subnet 172.19.240.0/24 --gateway 172.19.240.1 test_net || true

#sed -i &quot;s/&apos;.\//&apos;\/Users\/rahulgolash\/Rahul\/Ledgerium\/CoreLedgerium\/ledgeriumjenkins\/jobs\/Contract_TestReport\/workspace\/output\//g&quot; docker-compose.yml
sed -i &quot;s/&apos;.\//&apos;\/.\/jobs\/Contract_TestReport\/workspace\/output\//g&quot; docker-compose.yml

docker-compose up -d || true
cd ..

#sed -i &apos;s/version&quot;: &quot;1.0/version&quot;: &quot;1.0.0/g&apos; package.json
rm -rf node_modules || true
rm -rf package-lock.json || true

npm install || true

# replacing validator node ip in setup.js

nodename=$(docker ps -a| grep validator-0_1 | awk &apos;{print $1}&apos;)
ipaddr=$(docker inspect --format &quot;{{ .NetworkSettings.Networks.test_net.IPAddress }}&quot; $nodename)

#npm install --only=dev || true
#npm install bignumber.js --save || true

echo &quot;npm test&quot;
sed -i &apos;s/localhost/&apos;&quot;$ipaddr&quot;&apos;/g&apos; setup.js
sed -i &apos;s/mocha protocol http/mocha --reporter=xunit/g&apos; package.json
sed -i &apos;s/\.\/test/\.\/test&gt;api-test-reports\.xml/g&apos; package.json

# Running tests
npm test ||true

sed -i &apos;/Mocha Tests/,$!d&apos; api-test-reports.xml
sed -i &apos;/\/testsuite/,$d&apos; api-test-reports.xml

echo &apos;&lt;/testsuite&gt;&apos; &gt;&gt; api-test-reports.xml

echo &quot;Process completed&quot;




</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.26.1">
      <testResults>api-test-reports.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.63">
      <recipientList>$DEFAULT_RECIPIENTS,dev@ledgerium.net</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>text/html</contentType>
      <defaultSubject>$DEFAULT_SUBJECT  </defaultSubject>
      <defaultContent>&lt;STYLE&gt;
    BODY, TABLE, TD, TH, P {
    font-family:Verdana,Helvetica,sans serif;
    font-size:11px;
    color:black;
    }
    h1 { color:black; }
    h2 { color:black; }
    h3 { color:black; }
    TD.bg1 { color:white; background-color:#ff1a1a; font-size:120% }
    TD.bg2 { color:white; background-color:#4040FF; font-size:110% }
    TD.bg3 { color:white; background-color:#8080FF; }
    TD.test_passed { color:#ccc; }
    TD.test_failed { color:red; }
    TD.console { font-family:Courier New; }
&lt;/STYLE&gt;
&lt;BODY&gt;
    &lt;TABLE&gt;

        &lt;TR&gt;
            &lt;TD align=&quot;left&quot;&gt;
            &lt;IMG SRC=&quot;&lt;LINKTOJENKINS&gt;static/f4bd5d38/images/32x32/red.png&quot;/&gt;
            &lt;/TD&gt;
            &lt;TD valign=&quot;center&quot;&gt;&lt;B style=&quot;font-size: 200%;&quot;&gt;Jenkins Build Information&lt;/B&gt;&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD&gt;URL&lt;/TD&gt;
            &lt;TD&gt;&lt;A href=&quot;${BUILD_URL}&quot;&gt;${JOB_NAME}&lt;/A&gt;&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD&gt;JOB NAME:&lt;/TD&gt;
            &lt;TD&gt;${JOB_NAME}&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD&gt;BUILD-NUMBER:&lt;/TD&gt;
            &lt;TD&gt;${BUILD_DISPLAY_NAME}&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD&gt;TRIGGER:&lt;/TD&gt;
            &lt;TD&gt;${BUILD_CAUSE}&lt;/TD&gt;
        &lt;/TR&gt;
    &lt;/TABLE&gt;
    &lt;BR/&gt;

    &lt;!-- CHANGE SET --&gt;
    &lt;TABLE width=&quot;100%&quot;&gt;
        &lt;TR&gt;
            &lt;TD class=&quot;bg1&quot; colspan=&quot;2&quot;&gt;&lt;B&gt;CHANGES&lt;/B&gt;&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD colspan=&quot;2&quot;&gt;
                  &lt;br/&gt;
                  ${CHANGES_SINCE_LAST_SUCCESS, reverse=true} 
            &lt;/TD&gt;
        &lt;/TR&gt;
    &lt;/TABLE&gt;
    &lt;BR/&gt;

    &lt;!-- JUnit TEMPLATE --&gt;
    &lt;!-- ARTIFACTS --&gt;
    &lt;TABLE width=&quot;100%&quot;&gt;
        &lt;TR&gt;
            &lt;TD class=&quot;bg1&quot;&gt;&lt;B&gt;UNIT TEST RESULTS&lt;/B&gt;&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;/TR&gt;
    &lt;/TABLE&gt;
    &lt;BR/&gt;

&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR&gt;&lt;TD BGCOLOR=&quot;#0099CC&quot; width=&quot;50%&quot; height=&quot;30px&quot;&gt;&lt;FONT COLOR=White FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;  Total&lt;/font&gt;&lt;/td&gt;&lt;TD BGCOLOR=&quot;#FFFFFF&quot;&gt;&lt;FONT COLOR=#0099CC FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;${TEST_COUNTS,var=&quot;total&quot;}&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;

&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR&gt;&lt;TD BGCOLOR=&quot;#04B431&quot; width=&quot;50%&quot;&gt;&lt;FONT COLOR=white FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;  Pass&lt;/font&gt;&lt;/td&gt;&lt;TD BGCOLOR=&quot;#FFFFFF&quot;&gt;&lt;FONT COLOR=#04B431 FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;${TEST_COUNTS,var=&quot;pass&quot;}&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;

&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR&gt;&lt;TD BGCOLOR=&quot;#DF3A01&quot; width=&quot;50%&quot;&gt;&lt;FONT COLOR=white FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;  Fail&lt;/font&gt;&lt;/td&gt;&lt;TD BGCOLOR=&quot;#FFFFFF&quot;&gt;&lt;FONT COLOR=#DF3A01 FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;${TEST_COUNTS,var=&quot;fail&quot;}&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;

&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR&gt;&lt;TD BGCOLOR=&quot;#e6e600&quot; width=&quot;50%&quot;&gt;&lt;FONT COLOR=white FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;  Skip&lt;/font&gt;&lt;/td&gt;&lt;TD BGCOLOR=&quot;#FFFFFF&quot;&gt;&lt;FONT COLOR=#A4A4A4 FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;${TEST_COUNTS,var=&quot;skip&quot;}&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;
&lt;br/&gt;

&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR  BGCOLOR=&quot;#989898&quot; width=&quot;100%&quot;&gt;&lt;td&gt;&lt;FONT COLOR=White FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;Unit Test  Failure Analysis&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;TR  BGCOLOR=&quot;#f5f5f0&quot; width=&quot;100%&quot;&gt;&lt;td&gt;&lt;FONT COLOR=Black FACE=&quot;Courier New, Lucida Console&quot; SIZE=2&gt;${FAILED_TESTS, showStack=false}&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;

&lt;br/&gt;
&lt;TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2 Width=&quot;100%&quot;&gt;
&lt;TR  BGCOLOR=&quot;#989898&quot; width=&quot;70%&quot;&gt;&lt;td&gt;&lt;FONT COLOR=White FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;View Unit Test Report&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;TR  width=&quot;70%&quot;&gt;&lt;td&gt;&lt;FONT FACE=&quot;Geneva, Arial&quot; SIZE=2&gt;&lt;a href=&quot;${JOB_URL}lastBuild/testReport/&quot;&gt;Click here to view&lt;/a&gt;&lt;/font&gt;&lt;/td&gt;&lt;/TR&gt;
&lt;/TABLE&gt;
&lt;br/&gt;

    &lt;BR/&gt;

    &lt;!-- CONSOLE OUTPUT --&gt;
    &lt;TABLE width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot;&gt;
        &lt;TR&gt;
            &lt;TD class=&quot;bg1&quot;&gt;&lt;B&gt;CONSOLE OUTPUT&lt;/B&gt;&lt;/TD&gt;
        &lt;/TR&gt;
        &lt;TR&gt;
            &lt;TD class=&quot;console&quot; width=&quot;80%&quot;&gt;
                &lt;br/&gt;

${BUILD_LOG_REGEX, regex=&quot;^.*&quot;, linesAfter=1, substText=&quot;&lt;br&gt;$0&quot;} 

            &lt;/TD&gt;
        &lt;/TR&gt;
    &lt;/TABLE&gt;
    &lt;BR/&gt;
&lt;/BODY&gt;</defaultContent>
      <attachmentsPattern>api-test-reports.xml</attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.37">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <jenkins.plugins.nodejs.NodeJSBuildWrapper plugin="nodejs@1.2.7">
      <nodeJSInstallationName>node8</nodeJSInstallationName>
    </jenkins.plugins.nodejs.NodeJSBuildWrapper>
  </buildWrappers>
</project>
